fastapi==0.115.12
nltk==3.9.1
numpy==2.2.6
passlib==1.7.4
pydantic==2.11.4
python-decouple==3.8
python-dotenv==1.1.0
python_jose==3.4.0
Requests==2.32.3
stanza==1.10.1
supabase==2.15.1
torch==2.7.0
uvicorn==0.34.2